.root {
  margin-bottom: 20px;
}

button {
  border: none;
  color: var(--color-blue);
  z-index: 1;
  background: none;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    background: var(--color-gray-light);
  }

  &:active {
    background: var(--color-gray);
  }
}