@import "./variables/index.scss";

#root {
  box-sizing: border-box;
  height: 100vh;
  background: var(--color-aliceblue);
  padding: 60px 0;
  overflow-y: scroll;
}

.MuiAutocomplete-root {
  margin-bottom: 40px;
}

.MuiTypography-root {
  display: block !important;
}

.MuiFormControlLabel-root {
  margin-right: 0 !important;
}

.MuiFormControlLabel-label {
  width: 100% !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiFormControlLabel-labelPlacementEnd {
  align-items: flex-start !important;
}

.MuiTableHead-root {
  background: var(--color-gray) !important;
}

.PrivateSwitchBase-root {
  margin-top: 20px !important;
}