@import "./variables/index.scss";

#root {
  box-sizing: border-box;
  height: 100vh;
  background: var(--color-aliceblue);
  padding-top: 60px;
}

.MuiFormControlLabel-label {
  width: 100% !important;
}

.MuiFormControl-root {
  width: 100% !important;
}

.MuiFormControlLabel-labelPlacementEnd {
  align-items: flex-start !important;
}

.MuiTableHead-root {
  background: var(--color-gray) !important;
}