:root {
  /* Main colours */
  --color-aliceblue: #f0f8ff;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #afafaf;


  /* Secondary colours */
  --color-blue: #0000FFFF;
  --color-gray-light: #efefef;
}