#root {
    box-sizing: border-box;
    height: 100vh;
    background: aliceblue;
    padding-top: 60px;
}

.MuiFormControlLabel-label {
    width: 100% !important;
}

.MuiFormControl-root {
    width: 100% !important;
}